<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
        <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/didattica">Didattica</a>
      <a class="sidebar-nav-item" href="/software">Software</a>
      <a class="sidebar-nav-item" href="/credits">Credits</a>
      <a class="sidebar-nav-item" href="https://gianlucadellavedova.wordpress.com">Blog</a>
    </nav>

    <p>&copy; 2001-{{ site.time | date: '%Y' }}. Gianluca Della Vedova.
    <p>
      Questa opera è distribuita con <a
      href="http://creativecommons.org/licenses/by-sa/3.0/it/">licenza
      Creative Commons Attribuzione - Condividi allo stesso modo 3.0
	Italia</a>.
        </p>
  </div>
</div>
